dist
node_modules

.DS_Store
.env

web-app/build
web-app/src/assets/raw/dict/playground.json

electron/build-service
electron/temps
electron/logs
electron/release
electron/support/download
electron/support/logs
electron/support/temps
*.error
.temps

test/
