web-app/.env.development
dist
node_modules

.DS_Store
.env

web-app/build
web-app/src/assets/raw/dict/playground.json

electron/build-service
electron/temps
electron/logs
electron/release
electron/support/download
electron/support/logs
electron/support/temps
electron/support/*.db
electron/support/preload.js
electron/support/.DS_Store
electron/support/writing
electron/support/app-settings.json
electron/support/prisma/migrations/

*.error
.temps
.vscode

# 忽略 SQLite 数据库文件
*.db

test/
electron/support/app-settings.json.bak
