.app-root {
  background-color: #f0f2f5;
}

.app-header {
  height: 28px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  padding-left: 70px;
  -webkit-app-region: drag
}

.app-header__item {
  -webkit-app-region: no-drag
}
.app-header__item:hover {
  cursor: pointer;
}