.video-player {
  position: relative;

}

.control-panel {
  /* width: 100%;
  position: absolute;
  top: '100%'; */
  /* padding: 8px; */
  /* display: none; */
  position: relative;
  color: #fff;
  background-color: rgba(0, 0, 0, .2);
  padding: 10px;
}

.video-player:hover .control-panel {
  display: block;
}

.screenshot-preview {
  display: none;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

/* .custom-slider-container 在CustomSliderWithTeeth组件里 */
.control-panel__slider-wrap:has(.custom-slider-container:hover) .screenshot-preview {
  display: block;

}