.blend-button {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  /* 保持文字颜色 */
  border: none;
  background: transparent;
  /* 背景透明 */
  overflow: hidden;
  /* 防止伪元素溢出 */

}

.blend-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff5733;
  /* mix-blend-mode: multiply; */
  mix-blend-mode: difference;
  /* 设置混合模式 */
  z-index: -1;
  /* 确保伪元素在文字下面 */
  opacity: 0.4;
  transition: all ease-in-out;
}

.blend-button:hover::before {
  opacity: 1;
}