.video-player {}

.video-container {
  position: relative;

}



.control-panel {
  display: none;
  width: 100%;
  position: absolute;
  bottom: 0;
  /* padding: 8px; */
  /* display: none; */
  /* position: relative; */
  color: #fff;
  background-color: rgba(0, 0, 0, .2);
  padding: 0 8px 8px;
}

.video-container:hover .control-panel {
  display: block;
}

.screenshot-preview {
  display: none;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

/* .custom-slider-container 在CustomSliderWithTeeth组件里 */
.video-player:has(.custom-slider-container:hover) .screenshot-preview {
  display: block;

}

.btn-contaier {
  display: flex;
  ;
  align-items: center;
}

.btn-slider {
  display: none;
  transition: 2000 all;
}

.btn-contaier:hover .btn-slider {
  display: block
}