.resize-corner {
  background-color: rgba(0, 0, 0, 0.6);
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: 999;
}

.resize-corner.tl {
  top: -5px;
  left: -5px;
  cursor: nwse-resize;
}

.resize-corner.tr {
  top: -5px;
  right: -5px;
  cursor: nesw-resize;
}

.resize-corner.bl {
  bottom: -5px;
  left: -5px;
  cursor: nesw-resize;
}

.resize-corner.br {
  bottom: -5px;
  right: -5px;
  cursor: nwse-resize;
}
